@mixin font($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.type-16{
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    color: #727272;
    .row {
        margin-left: 0px;
        margin-right: 0px;
        .cot{
            display: flex;
            .imgs{
                width: 100%;
                }
            .sppb-addon{
                .sppb-addon-title{
                    color: gray;
                }
                .sppb-addon-content{
                    padding-top: 12px;
                    .nd{
                        @include font(35px, bold,  black);
                    }
                    .ce-title-line{
                        width: 14%;
                        height: 2.5px;
                        background-color: #d2fc13;
                        margin: 13px auto 0 0;
                    }
                }
                .sppb-addon-text{
                    font-size: 14px;
                    line-height: 23px;
                    padding-top: 7%;
                }
                .check{
                    padding-top: 4%;
                    .list{
                        padding-left: 0px;
                        list-style: disc;
                    }
                }
                .btn{
                    padding-top: 5% ;
                    .nut{
                        border: none;
                        color: white;
                        background-color: black;
                        padding: 10px 20px;
                        border-radius: 5px;
                    }
                    .nut:hover{
                        background-color:#342E2D;
                    }
                }
            }
        }
    }
}