$top:10%;
@mixin font($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

.all{
    padding: 10% 0;
    .sppb-column-addons{
        padding: 20% 15%;
        border-color: #ddd ;
        box-shadow: 0 0 16px #cccccc87;
        .sppb-media-content{
            padding-top: $top;
            text-align: center;
            .sppb-addon-title{
                @include font(35px, 25px);
                font-weight: 600;
            }
            .sppb-addon-text{
                padding: 10% 0 0 0;
                .divider-line{
                    width: 100%;
                    height: 1px;
                    background-color: #ebebeb;
                }
                .subtext{
                    padding-top: $top;
                    @include font(18px, 23px);
                    color :#8f7a7a;
                }
            }
        }
    }
    .sppb-column-addons:hover{
        background-color: black;
        color: white;
    }
}
