.MenuDark_64 {
  padding-top: 152px;
  font-family: "Roboto"; }
  .MenuDark_64 .content .title {
    margin-top: 20px;
    margin-bottom: 3px;
    font-weight: 600;
    line-height: 50px; }
  .MenuDark_64 .content .dark {
    color: #101010; }
    .MenuDark_64 .content .dark:hover {
      color: #fccb06;
      text-decoration: none; }
.MenuDark_64 .box-banner .accordion .acc-title {
  padding: 20px 20px 20px 50px;
  cursor: pointer;
  position: relative;
  color: black;
  border: 1px solid #ebebeb;
  margin-bottom: 15px;
  background: #fff; }
  .MenuDark_64 .box-banner .accordion .acc-title i {
    position: absolute;
    top: 50%;
    right: auto;
    left: 15px;
    color: #000; }
  .MenuDark_64 .box-banner .accordion .acc-title span {
    float: left; }
  .MenuDark_64 .box-banner .accordion .acc-title .ui-icon {
    background-image: none; }
.MenuDark_64 .box-banner .accordion .fish {
  border-top: 0px solid transparent;
  padding: 40px;
  margin: 20px 0;
  background: #fff;
  border: 1px solid #ebebeb;
  height: auto; }
