$primary-color: #727272;
@mixin font($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}
.type-86{
    font-family: 'Open Sans', sans-serif;
    .img{
        width: 109%;
        height: 100%;
    }
    .sppb-addon{
        width: 109%;
        height: 99.5%;
        background-color: #222;
        padding-top: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        .sppb-addon-title{
           color: #fccb06;
        }
        .sppb-addon-content{
            @include font(14px, 23px);
            color: $primary-color;
            padding-bottom: 25px;
            h4{
                @include font(22px, 25px);
                margin-bottom: 18px;
                color: white;
            }
        }
        .sppb-btn{
            background-color: black;
            color: white;
            border-radius: 5px;
            padding: 12px 16px;
            .fa{
                padding-right: 10px;
            }
        }
        .sppb-btn:hover{
            background-color: $primary-color;
        }
    }
}